@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Monthly Mortgage Calculator</h2>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h4>@Html.ActionLink("Calculate Mortgage", "Create", "Mortgage1")</h4>
        </div>
        <div class="col-md-4">
         <h4>@Html.ActionLink("List Mortgage", "Index", "Mortgage1")</h4>
       </div>

    </div>